@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  color: rgba(31, 31, 31, 0.854);
}

#app {
  background: url(intro_bg.jpg) no-repeat center center;
  background-size: cover;
}

