@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  color: rgba(31, 31, 31, 0.854);
}

#app {
  /* background: url(intro_bg.svg) top center; */
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

.project-container {
  width: 60%;
  margin: auto;
}

.project-container>div {
  margin-top: 1rem;
}

h1 {
  font-size: 24px;
  font-weight: bold;

}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0.5rem;
}

.project-container ul ul {
  padding-left: 2.5rem;
  list-style-type: circle;
  list-style-position: outside;
}

.project-container ul {
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
}

.project-container li {
  font-size: 16px;
  line-height: 1.5;

}

.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

b {
  font-weight: bold;
}